body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}

#the_header {
    background-color: #8d99ae;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}

#NY {
    display: flex;
}
#tokyo {
    
}

h1 {
    font-size: 32px;
    margin: 0;
}

footer {
    background-color: #8d99ae;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}
